<div class="dashboard-graph">
  <div class="col-md-6 col-sm-12 col-xs-12">
    <highchart id="chart-50" config="$ctrl.gambar50"></highchart>
  </div>

  <div class="col-md-6 col-sm-12 col-xs-12">
    <highchart id="chart-51" config="$ctrl.gambar51"></highchart>
  </div>

  <div class="col-md-6 col-sm-12 col-xs-12">
    <highchart id="chart-52" config="$ctrl.gambar52"></highchart>
  </div>

  <div class="col-md-6 col-sm-12 col-xs-12">
    <highchart id="chart-53" config="$ctrl.gambar53"></highchart>
  </div>

  <div class="col-md-6 col-sm-12 col-xs-12">
    <highchart id="chart-63" config="$ctrl.gambar63"></highchart>
  </div>

  <div class="col-md-6 col-sm-12 col-xs-12">
    <highchart id="chart-64" config="$ctrl.gambar64"></highchart>
  </div>

  <div class="col-md-6 col-sm-12 col-xs-12">
    <highchart id="chart-49" config="$ctrl.gambar49"></highchart>
  </div>
</div>
