.questions
    margin-top:10px;
    position: relative;
    background: #fff;
    border-radius: 2px;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16),0 2px 10px 0 rgba(0,0,0,.12);

    .question-content
      border-radius: 0 0 2px 2px;

      .question-body
        padding: 1rem 2rem;
        margin: 1rem 0;

        p, .row
          margin:0;

        p
          margin-bottom:10px;
          font-size: 14px;
          line-height: 24px;

        .row
          margin-bottom:10px;

          .input-field
          p
            margin-bottom:0;

  .question-tool
    display: block;
    position: relative;
    height: 50px;

    i
      margin-left:5px;
      margin-right:5px;
      font-size:11px;


  &.form-horizontal
    .form-group
      label
        font-weight:normal;
        text-align:left;
        padding-top:0;
        padding-left:0;

.required
  position: absolute;
  top: 0;
  display: block;
  background: #c9302c;
  height: 15px;
  right: 0;
  color: white;
  text-align: center;
  border-radius: 50%;
  width: 15px;

.ml-10
  margin-left:10px;
.ml-20
  margin-left:20px;

.checkbox
  margin-left: 20px;

span.l-number
  display: inline-block;
  width: 20px;

span.l-number-small
  display: inline-block;
  width: 20px;

.q-child
  margin-left:20px;

span.l-number-small.q-child
  margin-right: 10px;

.mr-20
  margin-right:20px!important;
