<app-menu class="app-menu"></app-menu>
<navbar class="app-navbar"></navbar>

<!-- page content -->
<div class="right_col" role="main">
  <div class="">
    <div class="page-title">
      <div class="title_left">
        <h3>Profile Koresponden</h3>
      </div>

      <!-- <div class="title_right">
        <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Search for...">
            <span class="input-group-btn">
              <button class="btn btn-default" type="button">Go!</button>
            </span>
          </div>
        </div>
      </div> -->
    </div>

    <div class="clearfix"></div>

    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">

          <div class="x_content">

            <div class="col-md-3 col-sm-3 col-xs-12 profile_left">

              <div class="profile_img">

                <!-- end of image cropping -->
                <!-- <div id="crop-avatar"> -->
                  <!-- Current avatar -->
                  <!-- <img class="img-responsive avatar-view" src="images/picture.jpg" alt="Avatar" title="Change the avatar"> -->
                <!-- </div> -->
                <!-- end of image cropping -->

              </div>

              <h3>{{$ctrl.survey.respondent.name}}</h3>

              <ul class="list-unstyled user_data">
                <li>
                  <span><b>Handphone :</b></span>
                  <span>{{$ctrl.survey.respondent.hp}}</span>
                </li>
                <li>
                  <span><b>Email :</b></span>
                  <span>{{$ctrl.survey.respondent.email}}</span>
                </li>
                <li>
                  <span><b>Jabatan :</b></span>
                  <span>{{$ctrl.survey.respondent.jabatan}}</span>
                </li>
                <li class="m-top-xs">
                  <span><b>Lembaga :</b></span>
                  <span>{{$ctrl.survey.respondent.organization}}</span>
                </li>
              </ul>

            </div>


            <div class="col-md-9 col-sm-9 col-xs-12">

              <div class="profile_title">
                <div class="col-md-6">
                  <h2>Status Validasi Survei</h2>
                </div>
                <div class="col-md-6">
                  <!-- <div id="reportrange" class="pull-right" style="margin-top: 5px; background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #E6E9ED">
                    <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>
                    <span>December 30, 2014 - January 28, 2015</span> <b class="caret"></b>
                  </div> -->
                </div>
              </div>


              <!-- start of user-activity-graph -->
              <div id="graph_bar" style="width:100%;">

                <div class="card-panel">
                  <div class="row">

                    <div class="col-xs-3 col-sm-2 col-md-1 card-item" ng-repeat="q in $ctrl.answerCheckList" ng-class="{'active': $ctrl.activeIndex == q.number}">
                      <a class="bootcards-summary-item" ui-sref="question{{q.number}}">
                        <p>{{q.number}}</p>
                        <h4 ng-switch on="$ctrl.getStatus(q.number, q.subquestion)">
                          <span ng-switch-when="terkirim" class="label label-info"><i class="fa fa-question"></i></span>
                          <span ng-switch-when="diterima" class="label label-success"><i class="fa fa-check"></i></span>
                          <span ng-switch-when="ditolak" class="label label-danger"><i class="fa fa-remove"></i></span>
                        </h4>
                      </a>
                    </div>

                    <!-- <div class="col-xs-3 col-sm-2 col-md-1 card-item" ng-class="{'active': $ctrl.activeIndex == 2}">
                      <a class="bootcards-summary-item" ui-sref="question2">
                        <p>2</p>
                        <h4 ng-switch on="$ctrl.getStatus(2)">
                          <span ng-switch-when="terkirim" class="label label-info"><i class="fa fa-question"></i></span>
                          <span ng-switch-when="diterima" class="label label-success"><i class="fa fa-check"></i></span>
                          <span ng-switch-when="ditolak" class="label label-danger"><i class="fa fa-remove"></i></span>
                        </h4>
                      </a>
                    </div>

                    <div class="col-xs-3 col-sm-2 col-md-1 card-item" ng-class="{'active': $ctrl.activeIndex == 3}">
                      <a class="bootcards-summary-item" ui-sref="question3">
                        <p>3</p>
                        <h4 ng-switch on="$ctrl.getStatus(3)">
                          <span ng-switch-when="terkirim" class="label label-info"><i class="fa fa-question"></i></span>
                          <span ng-switch-when="diterima" class="label label-success"><i class="fa fa-check"></i></span>
                          <span ng-switch-when="ditolak" class="label label-danger"><i class="fa fa-remove"></i></span>
                        </h4>
                      </a>
                    </div>

                    <div class="col-xs-3 col-sm-2 col-md-1 card-item" ng-class="{'active': $ctrl.activeIndex == 4}">
                      <a class="bootcards-summary-item" ui-sref="question4">
                        <p>4</p>
                        <h4 ng-switch on="$ctrl.getStatus(4)">
                          <span ng-switch-when="terkirim" class="label label-info"><i class="fa fa-question"></i></span>
                          <span ng-switch-when="diterima" class="label label-success"><i class="fa fa-check"></i></span>
                          <span ng-switch-when="ditolak" class="label label-danger"><i class="fa fa-remove"></i></span>
                        </h4>
                      </a>
                    </div>

                    <div class="col-xs-3 col-sm-2 col-md-1 card-item" ng-class="{'active': $ctrl.activeIndex == 5}">
                      <a class="bootcards-summary-item" ui-sref="question5">
                        <p>5</p>
                        <h4 ng-switch on="$ctrl.getStatus(5)">
                          <span ng-switch-when="terkirim" class="label label-info"><i class="fa fa-question"></i></span>
                          <span ng-switch-when="diterima" class="label label-success"><i class="fa fa-check"></i></span>
                          <span ng-switch-when="ditolak" class="label label-danger"><i class="fa fa-remove"></i></span>
                        </h4>
                      </a>
                    </div>

                    <div class="col-xs-3 col-sm-2 col-md-1 card-item" ng-class="{'active': $ctrl.activeIndex == 6}">
                      <a class="bootcards-summary-item" ui-sref="question6">
                        <p>6</p>
                        <h4 ng-switch on="$ctrl.getStatus(6)">
                          <span ng-switch-when="terkirim" class="label label-info"><i class="fa fa-question"></i></span>
                          <span ng-switch-when="diterima" class="label label-success"><i class="fa fa-check"></i></span>
                          <span ng-switch-when="ditolak" class="label label-danger"><i class="fa fa-remove"></i></span>
                        </h4>
                      </a>
                    </div>

                    <div class="col-xs-3 col-sm-2 col-md-1 card-item" ng-class="{'active': $ctrl.activeIndex == 7}">
                      <a class="bootcards-summary-item" ui-sref="question7">
                        <p>7</p>
                        <h4 ng-switch on="$ctrl.getStatus(7)">
                          <span ng-switch-when="terkirim" class="label label-info"><i class="fa fa-question"></i></span>
                          <span ng-switch-when="diterima" class="label label-success"><i class="fa fa-check"></i></span>
                          <span ng-switch-when="ditolak" class="label label-danger"><i class="fa fa-remove"></i></span>
                        </h4>
                      </a>
                    </div>

                    <div class="col-xs-3 col-sm-2 col-md-1 card-item" ng-class="{'active': $ctrl.activeIndex == 8}">
                      <a class="bootcards-summary-item" ui-sref="question8">
                        <p>8</p>
                        <h4 ng-switch on="$ctrl.getStatus(8)">
                          <span ng-switch-when="terkirim" class="label label-info"><i class="fa fa-question"></i></span>
                          <span ng-switch-when="diterima" class="label label-success"><i class="fa fa-check"></i></span>
                          <span ng-switch-when="ditolak" class="label label-danger"><i class="fa fa-remove"></i></span>
                        </h4>
                      </a>
                    </div>

                    <div class="col-xs-3 col-sm-2 col-md-1 card-item" ng-class="{'active': $ctrl.activeIndex == 9}">
                      <a class="bootcards-summary-item" ui-sref="question9">
                        <p>9</p>
                        <h4 ng-switch on="$ctrl.getStatus(9, true)">
                          <span ng-switch-when="terkirim" class="label label-info"><i class="fa fa-question"></i></span>
                          <span ng-switch-when="diterima" class="label label-success"><i class="fa fa-check"></i></span>
                          <span ng-switch-when="ditolak" class="label label-danger"><i class="fa fa-remove"></i></span>
                        </h4>
                      </a>
                    </div>

                    <div class="col-xs-3 col-sm-2 col-md-1 card-item" ng-class="{'active': $ctrl.activeIndex == 10}">
                      <a class="bootcards-summary-item" ui-sref="question10">
                        <p>10</p>
                        <h4 ng-switch on="$ctrl.getStatus(10)">
                          <span ng-switch-when="terkirim" class="label label-info"><i class="fa fa-question"></i></span>
                          <span ng-switch-when="diterima" class="label label-success"><i class="fa fa-check"></i></span>
                          <span ng-switch-when="ditolak" class="label label-danger"><i class="fa fa-remove"></i></span>
                        </h4>
                      </a>
                    </div>

                    <div class="col-xs-3 col-sm-2 col-md-1 card-item" ng-class="{'active': $ctrl.activeIndex == 11}">
                      <a class="bootcards-summary-item" ui-sref="question11">
                        <p>11</p>
                        <h4 ng-switch on="$ctrl.getStatus(11)">
                          <span ng-switch-when="terkirim" class="label label-info"><i class="fa fa-question"></i></span>
                          <span ng-switch-when="diterima" class="label label-success"><i class="fa fa-check"></i></span>
                          <span ng-switch-when="ditolak" class="label label-danger"><i class="fa fa-remove"></i></span>
                        </h4>
                      </a>
                    </div>

                    <div class="col-xs-3 col-sm-2 col-md-1 card-item" ng-class="{'active': $ctrl.activeIndex == 12}">
                      <a class="bootcards-summary-item" ui-sref="question12">
                        <p>12</p>
                        <h4 ng-switch on="$ctrl.getStatus(12)">
                          <span ng-switch-when="terkirim" class="label label-info"><i class="fa fa-question"></i></span>
                          <span ng-switch-when="diterima" class="label label-success"><i class="fa fa-check"></i></span>
                          <span ng-switch-when="ditolak" class="label label-danger"><i class="fa fa-remove"></i></span>
                        </h4>
                      </a>
                    </div>

                    <div class="col-xs-3 col-sm-2 col-md-1 card-item" ng-class="{'active': $ctrl.activeIndex == 13}">
                      <a class="bootcards-summary-item" ui-sref="question13">
                        <p>13</p>
                        <h4 ng-switch on="$ctrl.getStatus(13)">
                          <span ng-switch-when="terkirim" class="label label-info"><i class="fa fa-question"></i></span>
                          <span ng-switch-when="diterima" class="label label-success"><i class="fa fa-check"></i></span>
                          <span ng-switch-when="ditolak" class="label label-danger"><i class="fa fa-remove"></i></span>
                        </h4>
                      </a>
                    </div>

                    <div class="col-xs-3 col-sm-2 col-md-1 card-item" ng-class="{'active': $ctrl.activeIndex == 14}">
                      <a class="bootcards-summary-item" ui-sref="question14">
                        <p>14</p>
                        <h4 ng-switch on="$ctrl.getStatus(14)">
                          <span ng-switch-when="terkirim" class="label label-info"><i class="fa fa-question"></i></span>
                          <span ng-switch-when="diterima" class="label label-success"><i class="fa fa-check"></i></span>
                          <span ng-switch-when="ditolak" class="label label-danger"><i class="fa fa-remove"></i></span>
                        </h4>
                      </a>
                    </div>

                    <div class="col-xs-3 col-sm-2 col-md-1 card-item" ng-class="{'active': $ctrl.activeIndex == 15}">
                      <a class="bootcards-summary-item" ui-sref="question15">
                        <p>15</p>
                        <h4 ng-switch on="$ctrl.getStatus(15, true)">
                          <span ng-switch-when="terkirim" class="label label-info"><i class="fa fa-question"></i></span>
                          <span ng-switch-when="diterima" class="label label-success"><i class="fa fa-check"></i></span>
                          <span ng-switch-when="ditolak" class="label label-danger"><i class="fa fa-remove"></i></span>
                        </h4>
                      </a>
                    </div>

                    <div class="col-xs-3 col-sm-2 col-md-1 card-item" ng-class="{'active': $ctrl.activeIndex == 16}">
                      <a class="bootcards-summary-item" ui-sref="question16">
                        <p>16</p>
                        <h4 ng-switch on="$ctrl.getStatus(16, true)">
                          <span ng-switch-when="terkirim" class="label label-info"><i class="fa fa-question"></i></span>
                          <span ng-switch-when="diterima" class="label label-success"><i class="fa fa-check"></i></span>
                          <span ng-switch-when="ditolak" class="label label-danger"><i class="fa fa-remove"></i></span>
                        </h4>
                      </a>
                    </div>

                    <div class="col-xs-3 col-sm-2 col-md-1 card-item" ng-class="{'active': $ctrl.activeIndex == 17}">
                      <a class="bootcards-summary-item" ui-sref="question17">
                        <p>17</p>
                        <h4 ng-switch on="$ctrl.getStatus(17)">
                          <span ng-switch-when="terkirim" class="label label-info"><i class="fa fa-question"></i></span>
                          <span ng-switch-when="diterima" class="label label-success"><i class="fa fa-check"></i></span>
                          <span ng-switch-when="ditolak" class="label label-danger"><i class="fa fa-remove"></i></span>
                        </h4>
                      </a>
                    </div>

                    <div class="col-xs-3 col-sm-2 col-md-1 card-item" ng-class="{'active': $ctrl.activeIndex == 18}">
                      <a class="bootcards-summary-item" ui-sref="question18">
                        <p>18</p>
                        <h4 ng-switch on="$ctrl.getStatus(18)">
                          <span ng-switch-when="terkirim" class="label label-info"><i class="fa fa-question"></i></span>
                          <span ng-switch-when="diterima" class="label label-success"><i class="fa fa-check"></i></span>
                          <span ng-switch-when="ditolak" class="label label-danger"><i class="fa fa-remove"></i></span>
                        </h4>
                      </a>
                    </div> -->


                  </div>

                </div>
              </div>
              <!-- end of user-activity-graph -->
              <div class="question-container">
                <div class="question-nav">
                    <div class="pull-right text-center mtop20">
                      <a href="#" class="btn btn-sm btn-primary" ng-click="$ctrl.prev()"><i class="fa fa-chevron-left left"></i>Previous</a>
                      <a href="#" class="btn btn-sm btn-primary" ng-click="$ctrl.next()">Next<i class="fa fa-chevron-right right"></i></a>
                    </div>
                </div>

                <div class="question-wrapper">

                  <div ui-view></div>

                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /page content -->


<app-footer></app-footer>
