.card-panel
  padding: 10px;

  .card-item

    margin-bottom:10px;
    a
      display: block;
      padding: 0 5px;
      margin: 0 -6px;
      height: 60px;
      border: 1px solid #E6E9ED;
      p
        text-align:center;
        font-size:16px;
        font-weight:bold;
        font-style: normal;
        margin: 0;
      h4
        text-align: center;

  .card-item.active
    a
      background: #26B99A;

.question-wrapper
  background: #eceff1;
  transition: box-shadow .25s;
  ox-shadow: 0 2px 5px 0 rgba(0,0,0,.16),0 2px 10px 0 rgba(0,0,0,.12);
  padding:5px;

.question-nav
  height: 40px;

  i
    font-size:10px;
  i.left
    margin-right:8px;
    margin-top: 4px;
  i.right
    margin-left:8px;

.form-group
  margin-bottom: 15px!important;

.user_data li i
  width:16px;

.modal-reject
  margin 0 auto;

.modal-reject .modal-content
  border:0;
  border-radius:0;

.modal-reject .modal-header
  background:#1976d2;

  h4
    color:#fff;
  .close
    margin-top: -27px;
    opacity:1;
    span i
      color:#fff;
      font-size:14px;
      font-weight:200;

.modal-footer .btn+.btn
  margin-bottom:5px!important;

.ta-r input{
  text-align:right;
}


.question-body.comment
  h2
    margin-top: 0;
    border-bottom: 1px solid #eee;
    padding-bottom: 10px;
  p
    font-weight: 400;
    font-size:12px;

.modal .nav-tabs
      margin-bottom: 10px;