<div class="card questions">
  <div class="question-content">
    <div class="question-body form-horizontal">
      <p>
       Uraikan jumlah belanja kegiatan litbang (pertanyaan <a ui-sref='question2'><span class="blue"><b>No. 2</b></span></a>) menurut sumber dananya?
      </p>
      <br>

      <div class="form-group">
        <label class="control-label col-md-4 col-sm-4 col-xs-12">TOTAL
        </label>
        <div class="input-group col-md-4 col-sm-4 col-xs-6">
          <div class="input-group-addon">Rp</div>
          <input type="text" class="form-control" value="{{$ctrl.getTotalQ3()}}">
        </div>
      </div>
      <br>
      <div class="form-group">
        <label class="control-label col-md-4 col-sm-4 col-xs-12">
          <span>I.</span>
          DIPA
        </label>
        <div class="input-group col-md-4 col-sm-4 col-xs-6">
          <div class="input-group-addon">Rp</div>
          <input type="text" class="form-control" value="{{$ctrl.getTotalDIPA()}}">
        </div>
      </div>

      <div class="form-group">
        <label class="control-label col-md-4 col-sm-4 col-xs-12">
          <div class="ml-10">
          <span>a.</span>
          Dana dari Pemerintah untuk institusi Saudara
          </div>
        </label>
        <div class="input-group col-md-4 col-sm-4 col-xs-6">
          <div class="input-group-addon">Rp</div>
          <input type="text" ng-model="$ctrl.answer.answer3_dipa_danapemerintah" class="form-control">
        </div>
      </div>

      <div class="form-group">
        <label class="control-label col-md-4 col-sm-4 col-xs-12">
          <div class="ml-10">
          <span>b.</span>PNPB
          </div>
        </label>
        <div class="input-group col-md-4 col-sm-4 col-xs-6">
          <div class="input-group-addon">Rp</div>
          <input type="text" class="form-control" value="{{$ctrl.getTotalPNPB()}}">
        </div>
      </div>

      <div class="form-group">
        <label class="control-label col-md-4 col-sm-4 col-xs-12">
          <span class="ml-20">i.</span>
          Perusahaan Swasta
        </label>
        <div class="input-group col-md-4 col-sm-4 col-xs-6">
          <div class="input-group-addon">Rp</div>
          <input type="text" ng-model="$ctrl.answer.answer3_dipa_pnbp_perusahaanswasta" class="form-control">
        </div>
      </div>

      <div class="form-group">
        <label class="control-label col-md-4 col-sm-4 col-xs-12">
          <span class="ml-20">ii.</span>
          Instansi Pemerintah
        </label>
        <div class="input-group col-md-4 col-sm-4 col-xs-6">
          <div class="input-group-addon">Rp</div>
          <input type="text" ng-model="$ctrl.answer.answer3_dipa_pnbp_instansipemerintah"  class="form-control">
        </div>
      </div>

      <div class="form-group">
        <label class="control-label col-md-4 col-sm-4 col-xs-12">
          <span class="ml-20">iii.</span>
          Swasta <span class="t-i">non profit</span>
        </label>
        <div class="input-group col-md-4 col-sm-4 col-xs-6">
          <div class="input-group-addon">Rp</div>
          <input type="text" ng-model="$ctrl.answer.answer3_dipa_pnbp_swastanonprofit" class="form-control">
        </div>
      </div>

      <div class="form-group">
        <label class="control-label col-md-4 col-sm-4 col-xs-12">
          <span class="ml-20">iv.</span>
          Dari Luar Negri
        </label>
        <div class="input-group col-md-4 col-sm-4 col-xs-6">
          <div class="input-group-addon">Rp</div>
          <input type="text" ng-model="$ctrl.answer.answer3_dipa_pnbp_luarnegeri" class="form-control">
        </div>
      </div>

      <div class="form-group">
        <label class="control-label col-md-4 col-sm-4 col-xs-12" for="first-name">
          <div class="ml-10">
            <span>c.</span> PHLN
          </div>
        </label>
        <div class="input-group col-md-4 col-sm-4 col-xs-6">
          <div class="input-group-addon">Rp</div>
          <input type="text" ng-model="$ctrl.answer.answer3_dipa_phln" id="first-name" required="required" class="form-control col-md-7 col-xs-12">
        </div>
      </div>
      <br>
      <div class="form-group">
        <label class="control-label col-md-4 col-sm-4 col-xs-12" for="first-name">
          <span>II.</span>
          Non-DIPA
        </label>
        <div class="input-group col-md-4 col-sm-4 col-xs-6">
          <div class="input-group-addon">Rp</div>
          <input type="text" class="form-control" value="{{$ctrl.getTotalNonDIPA()}}">
        </div>
      </div>

      <div class="form-group">
        <label class="control-label col-md-4 col-sm-4 col-xs-12">
          <div class="ml-10">
            <span>a.</span>
            Insentif Ristekdikti
          </div>
        </label>
        <div class="input-group col-md-4 col-sm-4 col-xs-6">
          <div class="input-group-addon">Rp</div>
          <input type="text" ng-model="$ctrl.answer.answer3_nondipa_insentif_ristekdikti" class="form-control">
        </div>
      </div>

      <div class="form-group">
        <label class="control-label col-md-4 col-sm-4 col-xs-12">
          <div class="ml-10">
            <span>b.</span>
            Insentif dalam negeri lainnya
          </div>
        </label>
        <div class="input-group col-md-4 col-sm-4 col-xs-6">
          <div class="input-group-addon">Rp</div>
          <input type="text" ng-model="$ctrl.answer.answer3_nondipa_insentif_dalamnegeri" class="form-control">
        </div>
      </div>

      <div class="form-group">
        <label class="control-label col-md-4 col-sm-4 col-xs-12">
          <div class="ml-10">
          <span>c.</span>
          Research Grant
          </div>
        </label>
        <div class="input-group col-md-4 col-sm-4 col-xs-6">
          <div class="input-group-addon">Rp</div>
          <input type="text" ng-model="$ctrl.answer.answer3_nondipa_insentif_researchgrant" class="form-control">
        </div>
      </div>

    </div>
  </div>
</div>

<div class="question-tool">
    <div class="pull-right text-center mtop20">
      <a href="#" class="btn btn-sm btn-success"><i class="fa fa-check"></i>Approve</a>
      <a href="#" class="btn btn-sm btn-danger"><i class="fa fa-close"></i>Reject</a>
    </div>
</div>
