body
  background: #2A3F54!important;

.status
  .label
    display: block;
    color: #444;
    height: 20px;
    padding-top: 3px;
    font-size: 13px;
    font-weight: 400;
  .label-aero
    background-color:#9CC2CB
  .label-red
    background-color:#E74C3C
  .label-green
    background-color:#1ABB9C
