<div class="card questions">
  <div class="question-content">
    <div class="question-body form-horizontal">
      <p>
       Apakah unit kerja Saudara mendanai kegiatan litbang yang pelaksanaannya dilakukan oleh unit kerja/institusi lain (belanja litbang extramural) selama tahun 2015?
      </p>
      <br>

      <div class="form-group">
        <div class="col-md-2 col-sm-2 col-xs-6">
          <div class="checkbox">
            <label>
              <input type="checkbox" ng-checked="$ctrl.checked" value="1">Ya
            </label>
          </div>
        </div>
        <div class="col-md-2 col-sm-2 col-xs-6">
          <div class="checkbox">
            <label>
              <input type="checkbox" ng-checked="!$ctrl.checked" value="0">Tidak
            </label>
          </div>
        </div>
      </div>
      <br>
      <div class="form-group" ng-repeat="institusi in $ctrl.answer.answer8_institusi">
        <div class="col-md-4 col-sm-4 col-xs-6">
          <input type="text" id="first-name" ng-model="institusi" required="required" class="form-control col-md-7 col-xs-12" placeholder="Instruksi Pelaksana">
        </div>
        <div class="col-md-4 col-sm-4 col-xs-6">
          <input type="text" id="first-name" ng-model="$ctrl.answer.answer8_jumlah_dana[$index + 1]" required="required" class="form-control col-md-7 col-xs-12" placeholder="Rp">
        </div>
      </div>
    </div>
  </div>
</div>

<div class="question-tool">
    <div class="pull-right text-center mtop20">
      <a href="#" class="btn btn-sm btn-success"><i class="fa fa-check"></i>Approve</a>
      <a href="#" class="btn btn-sm btn-danger"><i class="fa fa-close"></i>Reject</a>
    </div>
</div>
