<div class="card questions">
  <div class="question-content">
    <div class="question-body form-horizontal">
      <p>
       Apakah unit kerja Saudara mendanai kegiatan litbang yang pelaksanaannya dilakukan oleh unit kerja/institusi lain (belanja litbang extramural) selama tahun {{$ctrl.year - 1}}?
      </p>
      <br>
      <div class="form-group" ng-if="$ctrl.answer">
        <div class="col-md-2 col-sm-2 col-xs-6">
          <div class="checkbox">
            <label>
              <input type="checkbox" ng-checked="$ctrl.checked" value="1">Ya
            </label>
          </div>
        </div>
        <div class="col-md-2 col-sm-2 col-xs-6">
          <div class="checkbox">
            <label>
              <input type="checkbox" ng-checked="!$ctrl.checked" value="0">Tidak
            </label>
          </div>
        </div>
      </div>

      <div class="form-group text-warning" ng-if="!$ctrl.answer">
        <p><b>Jawaban belum di isi</b></p>
      </div>

      <br>
      <div class="form-group" ng-repeat="detail in $ctrl.answer.detail">
        <div class="col-md-4 col-sm-4 col-xs-6">
          <input type="text" id="first-name" value="{{detail.institusi | institusi:$ctrl.institusi}}" required="required" class="form-control col-md-7 col-xs-12" placeholder="Instruksi Pelaksana">
        </div>
        <div class="input-group col-md-4 col-sm-4 col-xs-6">
          <div class="input-group-addon">Rp</div>
          <input type="text" id="first-name" ng-model="detail.jumlah_dana" required="required" class="form-control col-md-7 col-xs-12" placeholder="Rp">
        </div>
      </div>
    </div>
  </div>
</div>

<div class="card questions" ng-if="$ctrl.answer && $ctrl.answer.comment && $ctrl.answer.status=='ditolak'">
  <div class="question-content">
    <div class="question-body comment">
      <h2>Comment</h2>
      <p>{{$ctrl.answer.comment}}</p>
    </div>
  </div>
</div>

<div class="question-tool" ng-if="$ctrl.answer">
    <div class="pull-right text-center mtop20">
      <button class="btn btn-sm btn-success"  ng-click="$ctrl.approve()"><i class="fa fa-check"></i>Approve</button>
      <button class="btn btn-sm btn-danger" ng-click="$ctrl.reject()" ><i class="fa fa-close"></i>Reject</button>
    </div>
</div>
