<div class="card questions">
  <div class="question-content">
    <div class="question-body form-horizontal ta-r">
      <p>
        Uraikan jumlah belanja kegiatan litbang tahun {{$ctrl.year -1}} (pertanyaan <a ui-sref='question2'><span class="blue"><b>No. 2</b></span></a>) menurut jenis kegiatan litbang
      </p>
      <br>

      <div class="form-group">
        <label class="control-label col-md-3 col-sm-3 col-xs-12">Penelitian Dasar
        </label>
        <div class="input-group col-md-4 col-sm-4 col-xs-6">
          <div class="input-group-addon">Rp</div>
          <input type="text" value="{{$ctrl.answer.penelitian_dasar |formatMoney}}" class="form-control">
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-md-3 col-sm-3 col-xs-12">Penelitian Terapan
        </label>
        <div class="input-group col-md-4 col-sm-4 col-xs-6">
          <div class="input-group-addon">Rp</div>
          <input type="text" value="{{$ctrl.answer.penelitian_terapan |formatMoney}}" class="form-control">
        </div>
      </div>

      <div class="form-group">
        <label class="control-label col-md-3 col-sm-3 col-xs-12">Pengembangan Experimental
        </label>
        <div class="input-group col-md-4 col-sm-4 col-xs-6">
          <div class="input-group-addon">Rp</div>
          <input type="text" value="{{$ctrl.answer.pengembangan_eksperimental |formatMoney}}" class="form-control">
        </div>
      </div>

      <div class="form-group">
        <label class="control-label col-md-3 col-sm-3 col-xs-12">Jumlah <strong>(harus sama dengan <a ui-sref="question2"><span class="blue">No. 2</span></a>)
        </label>
        <div class="input-group col-md-4 col-sm-4 col-xs-6">
          <div class="input-group-addon">Rp</div>
          <input type="text" class="form-control" value="{{$ctrl.getTotalQ7() |formatMoney}}">
        </div>
      </div>

    </div>
  </div>
</div>

<div class="card questions" ng-if="$ctrl.answer && $ctrl.answer.comment && $ctrl.answer.status=='ditolak'">
  <div class="question-content">
    <div class="question-body comment">
      <h2>Comment</h2>
      <p>{{$ctrl.answer.comment}}</p>
    </div>
  </div>
</div>


<div class="question-tool">
    <div class="pull-right text-center mtop20">
      <button class="btn btn-sm btn-success" ng-disabled="(!$ctrl.answer || $ctrl.answer.status!='terkirim') || $ctrl.statusUpdated" ng-click="$ctrl.approve()"><i class="fa fa-check"></i>Approve</button>
      <button class="btn btn-sm btn-danger" ng-disabled="(!$ctrl.answer || $ctrl.answer.status!='terkirim') || $ctrl.statusUpdated" ng-click="$ctrl.reject()" ><i class="fa fa-close"></i>Reject</button>
    </div>
</div>
