<app-menu class="app-menu"></app-menu>
<navbar class="app-navbar"></navbar>

<!-- page content -->
<div class="right_col dashboard" role="main">

  <!-- top tiles -->
  <div class="row tile_count">

    <div class="col-md-4 col-sm-4 col-xs-6 tile_stats_count">
      <span class="count_top">
        Total Lembaga
      </span>
      <div class="count">{{$ctrl.summaryStats.lembaga}}</div>
    </div>

    <div class="col-md-4 col-sm-4 col-xs-6 tile_stats_count">
      <span class="count_top">
        Total Responden
      </span>
      <div class="count green">{{$ctrl.summaryStats.correspondent}}</div>
    </div>

    <div class="col-md-4 col-sm-4 col-xs-6 tile_stats_count">
      <span class="count_top">
        <!-- <i class="fa fa-user"></i> -->
        Total Hasil Survei
      </span>
      <div class="count">{{$ctrl.summaryStats.answers}}</div>
    </div>
  </div>
  <!-- /top tiles -->

  <div class="row">
    <ui-view>

      <div class="dashboard-graph">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <highchart id="sebaranResponden" config="$ctrl.sebaranResponden"></highchart>
        </div>

        <div class="col-md-12 col-sm-12 col-xs-12">
          <highchart id="submittedResponden" config="$ctrl.submittedResponden"></highchart>
        </div>
      </div>
    </ui-view>
  </div>
</div>


<!-- /page content -->

<app-footer></app-footer>
