.dashboard
  .panel
    box-shadow: 0 2px 0 rgba(0,0,0,0.075);
    border-radius: 0;
    border: 0;
    margin-bottom: 15px;
    width: 100%;

  .panel .panel-heading, .panel>:first-child
    border-top-left-radius: 0;
    border-top-right-radius: 0;

  .panel .panel-footer, .panel>:last-child
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;

  .bg-success, .bg-success a
    color: #fff;

  .bg-success
    background-color: #91c957!important;

  .bg-info
    background-color: #46bbdc!important;

  .bg-warning
    background-color: #f1aa40!important;

  .bg-danger
    background-color: #f76549!important;

  .icon-circle
    border-radius: 50%!important;

  .icon-wrap-sm
    padding: 12px;

  .icon-wrap
    display: inline-block;
    padding: 10px;
    border-radius: 2px;

  .icon-wrap i
    display: block;
    line-height: 1em;
    text-align: center;
    position: relative;
    width: 1em;
    padding-top: 0.3em;
    font-size: 2.25em;
    vertical-align: middle;

  .icon-2x
    font-size: 2em;
    line-height: 1em;
    width:50px!important;
    height:50px!important;

  .pad-all
    padding: 15px;

  .mar-no
    margin: 0!important;

  .text-2x
    font-size: 2em;

  .text-5x, .text-4x, .text-5x, .text-2x, .text-lg, .text-sm, .text-xs
    line-height: 1.25;

  .text-thin
    font-weight: 300;

  .media-body
    padding-top: 6px;
