<div class="card questions">
  <div class="question-content">
    <div class="question-body form-horizontal">
      <p>
         Apakah unit kerja Saudara menghasilkan lisensi teknologi?
      </p>
      <br>
      <div class="form-group">
        <div class="col-md-2 col-sm-2 col-xs-6">
          <div class="checkbox">
            <label>
              <input type="checkbox" ng-checked="$ctrl.checked" value="1">Ya
            </label>
          </div>
        </div>
        <div class="col-md-2 col-sm-2 col-xs-6">
          <div class="checkbox">
            <label>
              <input type="checkbox" ng-checked="!$ctrl.checked" value="0">Tidak
            </label>
          </div>
        </div>
      </div>
      <br>

      <div class="form-group" ng-repeat="lisensi in $ctrl.answer.answer17_lisensi">
        <div class="col-md-4 col-sm-4 col-xs-6">
          <input type="text" class="form-control" placeholder="Lisensi" value="{{lisensi}}">
        </div>
        <div class="col-md-4 col-sm-4 col-xs-6">
          <input type="text" class="form-control" placeholder="Tahun" value="{{$ctrl.answer.answer17_tahun[$index + 1]}}">
        </div>
        <div class="input-group col-md-4 col-sm-4 col-xs-6">
          <div class="input-group-addon">Rp</div>
          <input type="text" class="form-control" placeholder="Rp" value="{{$ctrl.answer.answer17_nilai[$index + 1]}}">
        </div>
      </div>

    </div>
  </div>
</div>

<div class="card questions" ng-if="$ctrl.answer && $ctrl.answer.comment">
  <div class="question-content">
    <div class="question-body comment">
      <h2>Comment</h2>
      <p>{{$ctrl.answer.comment}}</p>
    </div>
  </div>
</div>

<div class="question-tool" ng-if="$ctrl.answer">
    <div class="pull-right text-center mtop20">
      <button class="btn btn-sm btn-success" ng-disabled="$ctrl.answer.status!='terkirim' || $ctrl.statusUpdated" ng-click="$ctrl.approve(true)"><i class="fa fa-check"></i>Approve</button>
      <button class="btn btn-sm btn-danger" ng-disabled="$ctrl.answer.status!='terkirim' || $ctrl.statusUpdated" ng-click="$ctrl.reject(true)" ><i class="fa fa-close"></i>Reject</button>
    </div>
</div>