<div class="card questions">
  <div class="question-content">
    <div class="question-body form-horizontal">
      <p>
         Apakah unit kerja Saudara menghasilkan lisensi teknologi?
      </p>
      <br>
      <div class="form-group">
        <div class="col-md-2 col-sm-2 col-xs-6">
          <div class="checkbox">
            <label>
              <input type="checkbox" ng-checked="$ctrl.checked" value="1">Ya
            </label>
          </div>
        </div>
        <div class="col-md-2 col-sm-2 col-xs-6">
          <div class="checkbox">
            <label>
              <input type="checkbox" ng-checked="!$ctrl.checked" value="0">Tidak
            </label>
          </div>
        </div>
      </div>
      <br>

      <div class="form-group" ng-repeat="lisensi in $ctrl.answer.answer17_lisensi">
        <div class="col-md-4 col-sm-4 col-xs-6">
          <input type="text" class="form-control" placeholder="Lisensi" value="{{lisensi}}">
        </div>
        <div class="col-md-4 col-sm-4 col-xs-6">
          <input type="text" class="form-control" placeholder="Tahun" value="{{$ctrl.answer.answer17_tahun[$index + 1]}}">
        </div>
        <div class="input-group col-md-4 col-sm-4 col-xs-6">
          <div class="input-group-addon">Rp</div>
          <input type="text" class="form-control" placeholder="Rp" value="{{$ctrl.answer.answer17_nilai[$index + 1]}}">
        </div>
      </div>

    </div>
  </div>
</div>

<div class="question-tool">
    <div class="pull-right text-center mtop20">
      <a href="#" class="btn btn-sm btn-success" ng-click="$ctrl.approve()"><i class="fa fa-check"></i>Approve</a>
      <a href="#" class="btn btn-sm btn-danger" ng-click="$ctrl.reject()" ><i class="fa fa-close"></i>Reject</a>
    </div>
</div>
