<div class="card questions">
  <div class="question-content">
    <div class="question-body form-horizontal q-9 q-16">
      <p>
        Adakah usulan paten dan paten yang disetujui (granted) dari unit kerja Saudara selama tahun {{ $ctrl.year - 1 }}?
      </p>
      <br>
      <div class="form-group">
        <div class="col-md-2 col-sm-2 col-xs-6">
          <div class="checkbox">
            <label>
              <input type="checkbox" ng-checked="(!!$ctrl.answer && (!!$ctrl.answer['16A'].detail && !!$ctrl.answer['16B'].detail))" value="true">Ya
            </label>
          </div>
        </div>
        <div class="col-md-2 col-sm-2 col-xs-6">
          <div class="checkbox">
            <label>
              <input type="checkbox" ng-checked="(!$ctrl.answer || (!$ctrl.answer['16A'].detail || !$ctrl.answer['16B'].detail))"  value="false">Tidak
            </label>
          </div>
        </div>
      </div>

      <div class="form-group"  ng-if="!!$ctrl.answer['16A']">
        <div class="col-md-12 col-sm-12 col-xs-12">

          <table class="table table-bordered">
            <thead>
              <tr>
                <th rowspan="2">Tahun</th>
                <th colspan="2">Usulan</th>
                <th colspan="2">Yang disetujui kantor paten</th>
                <th colspan="2">Yang terkomersialisasi</th>
              </tr>
              <tr>
                <th>Paten</th>
                <th>Paten Sederhana</th>
                <th>Paten</th>
                <th>Paten Sederhana</th>
                <th>Paten</th>
                <th>Paten Sederhana</th>
              </tr>
            </thead>

            <tbody>
              <tr ng-repeat="detail in $ctrl.answer['16A'].detail">
                <td><input type="text" class="form-control" value="{{detail.tahun}}"></td>
                <td><input type="text" class="form-control" value="{{detail.usulan_paten}}"></td>
                <td><input type="text" class="form-control" value="{{detail.usulan_patensederhana}}"></td>
                <td><input type="text" class="form-control" value="{{detail.disetujui_paten}}"></td>
                <td><input type="text" class="form-control" value="{{detail.disetujui_patensederhana}}"></td>
                <td><input type="text" class="form-control" value="{{detail.terkomersialisasi_paten}}"></td>
                <td><input type="text" class="form-control" value="{{detail.terkomersialisasi_patensederhana}}"></td>
              </tr>
            </tbody>
          </table>

        </div>
      </div>

      <br>

      <div class="form-group" ng-if="!!$ctrl.answer['16A'] && !!$ctrl.answer['16B']">
        <p>
          Dari semua paten tersebut di atas, berapa paten yang terdaftar/disetujui di kantor paten luar negeri?
        </p>
        <br>

        <div class="form-group">
          <div class="col-md-4 col-sm-4 col-xs-6">
            <input type="text" class="form-control" value="{{$ctrl.answer['16B'].jumlah_patenluarnegeri}}">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="card questions" ng-if="$ctrl.answer && $ctrl.answer.comment && $ctrl.answer.status=='ditolak'">
  <div class="question-content">
    <div class="question-body comment">
      <h2>Comment</h2>
      <p>{{$ctrl.answer.comment}}</p>
    </div>
  </div>
</div>

<div class="question-tool">
    <div class="pull-right text-center mtop20">
      <button class="btn btn-sm btn-success" ng-disabled="((!$ctrl.answer['16A'] || $ctrl.answer['16A'].status!='terkirim') || (!$ctrl.answer['16B'] || $ctrl.answer['16B'].status!='terkirim')) || $ctrl.statusUpdated" ng-click="$ctrl.approve(true)"><i class="fa fa-check"></i>Approve</button>
      <button class="btn btn-sm btn-danger" ng-disabled="((!$ctrl.answer['16A'] || $ctrl.answer['16A'].status!='terkirim') || (!$ctrl.answer['16B'] || $ctrl.answer['16B'].status!='terkirim')) || $ctrl.statusUpdated" ng-click="$ctrl.reject(true)" ><i class="fa fa-close"></i>Reject</button>
    </div>
</div>
