<div class="card questions">
  <div class="question-content">
    <div class="question-body form-horizontal">
      <p>
        Adakah makalah ilmiah dari peneliti di unit kerja Saudara yang dipublikasikan di jurnal internasional selama tahun 2015? . Mohon diperhatikan bahwa publikasi yang dihasilkan selama menempuh pendidikan doktoral atau master tidak termasuk dalam publikasi yang dimaksud dalam kuesioner ini.
      </p>
      <br>
      <div class="form-group">
        <div class="col-md-2 col-sm-2 col-xs-6">
          <div class="checkbox">
            <label>
              <input type="checkbox" ng-checked="$ctrl.checked" value="1">Ya
            </label>
          </div>
        </div>
        <div class="col-md-2 col-sm-2 col-xs-6">
          <div class="checkbox">
            <label>
              <input type="checkbox" ng-checked="!$ctrl.checked" value="0">Tidak
            </label>
          </div>
        </div>
      </div>
      <br>

      <div class="form-group" ng-repeat="detail in $ctrl.answer.data" >
        <div class="col-md-5 col-sm-6 col-xs-12">
          <input type="text" class="form-control" value="{{detail.nama_jurnal}}" placeholder="Nama Jurnal">
        </div>
        <div class="col-md-5 col-sm-6 col-xs-12">
          <input type="text" class="form-control" value="{{$ctrl.getSubjectFromResearchFieldCode(detail.code)}}" placeholder="Kode Bidang Penelitian">
        </div>
        <div class="col-md-2 col-sm-4 col-xs-6">
          <input type="text" class="form-control" value="{{detail.jumlah}}" placeholder="Jumlah">
        </div>
      </div>

    </div>
  </div>
</div>

<div class="card questions" ng-if="$ctrl.answer && $ctrl.answer.comment">
  <div class="question-content">
    <div class="question-body comment">
      <h2>Comment</h2>
      <p>{{$ctrl.answer.comment}}</p>
    </div>
  </div>
</div>


<div class="question-tool" ng-if="$ctrl.answer">
    <div class="pull-right text-center mtop20">
      <button class="btn btn-sm btn-success" ng-disabled="$ctrl.answer.status!='terkirim' || $ctrl.statusUpdated" ng-click="$ctrl.approve()"><i class="fa fa-check"></i>Approve</button>
      <button class="btn btn-sm btn-danger" ng-disabled="$ctrl.answer.status!='terkirim' || $ctrl.statusUpdated" ng-click="$ctrl.reject()" ><i class="fa fa-close"></i>Reject</button>
    </div>
</div>