<div class="card questions">
  <div class="question-content">
    <div class="question-body form-horizontal">
      <p>
        Belanja litbang intramural di perusahaan pada tahun 2016
      </p>

      <div class="form-group">
        <div class="col-md-2 col-sm-2 col-xs-6">
          <div class="checkbox">
            <label>
              <input type="checkbox" ng-checked="!!$ctrl.answer" value="1">Ya
            </label>
          </div>
        </div>
        <div class="col-md-2 col-sm-2 col-xs-6">
          <div class="checkbox">
            <label>
              <input type="checkbox" ng-checked="!$ctrl.answer" value="0">Tidak
            </label>
          </div>
        </div>
      </div>
      <br>
      <br>

      <div ng-if="$ctrl.answer">
        <div class="form-group">
          <label class="control-label col-md-3 col-sm-3 col-xs-12"><h4>Total</h4></label>
          <div class="col-md-6 col-sm-9 col-xs-12">
            <div class="input-group">
                <span class="input-group-addon">Rp</span>
                <input type="text" value="{{$ctrl.answer.belanja_modal + $ctrl.answer.belanja_operasional }}" class="form-control idr-nominal input-answers-5">
            </div>
          </div>
        </div>
        <br>
        <div class="form-group">
          <label class="control-label col-md-3 col-sm-3 col-xs-12">Belanja Modal</label>
          <div class="col-md-6 col-sm-9 col-xs-12">
            <div class="input-group">
                <span class="input-group-addon">Rp</span>
                <input type="text"  value="{{$ctrl.answer.belanja_modal}}" class="form-control idr-nominal input-answers-5">
            </div>
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-md-3 col-sm-3 col-xs-12">Belanja Operasional</label>
          <div class="col-md-6 col-sm-9 col-xs-12">
            <div class="input-group">
                <span class="input-group-addon">Rp</span>
                <input type="text"  value="{{$ctrl.answer.belanja_operasional}}" class="form-control idr-nominal input-answers-5">
            </div>
          </div>
        </div>
      </div>
  </div>
</div>

<div class="card questions" ng-if="$ctrl.answer.status=='ditolak'">
  <div class="question-content">
    <div class="question-body comment">
      <h2>Comment</h2>
      <p>{{$ctrl.answer.status_comment}}</p>
    </div>
  </div>
</div>

<div class="question-tool">
    <div class="pull-right text-center mtop20">
      <button class="btn btn-sm btn-success" ng-disabled="(!!$ctrl.answer && $ctrl.answer.status!='terkirim') || $ctrl.statusUpdated" ng-click="$ctrl.approve()"><i class="fa fa-check"></i>Approve</button>
      <button class="btn btn-sm btn-danger" ng-disabled="(!!$ctrl.answer && $ctrl.answer.status!='terkirim') || $ctrl.statusUpdated" ng-click="$ctrl.reject()" ><i class="fa fa-close"></i>Reject</button>
    </div>
</div>
