<div class="card questions">
  <div class="question-content">
    <div class="question-body form-horizontal">
      <p>
        Mohon tuliskan komentar dan saran Saudara berkaitan dengan survei ini untuk perbaikan di masa mendatang.
      </p>
      <br>


      <div class="form-group">
        <div class="col-md-12 col-sm-12 col-xs-6">
          <textarea type="text" class="form-control" placeholder="Lisensi" rows="8"> {{$ctrl.answer.data.comment}}
          </textarea>
        </div>
      </div>

    </div>
  </div>
</div>

<div class="card questions" ng-if="$ctrl.answer && $ctrl.answer.comment && $ctrl.answer.status=='ditolak'">
  <div class="question-content">
    <div class="question-body comment">
      <h2>Comment</h2>
      <p>{{$ctrl.answer.comment}}</p>
    </div>
  </div>
</div>

<div class="question-tool" ng-if="$ctrl.answer">
    <div class="pull-right text-center mtop20">
      <button class="btn btn-sm btn-success" ng-disabled="$ctrl.answer.status!='terkirim' || $ctrl.statusUpdated" ng-click="$ctrl.approve()"><i class="fa fa-check"></i>Approve</button>
      <button class="btn btn-sm btn-danger" ng-disabled="$ctrl.answer.status!='terkirim' || $ctrl.statusUpdated" ng-click="$ctrl.reject()" ><i class="fa fa-close"></i>Reject</button>
    </div>
</div>
