.q-9
  .p-2
    margin-top:15px;
    padding-left:20px

  table th, table td
    padding-left:0;

  table thead
    border-bottom:1px solid #e6e9ed;

  table thead tr:last-child th
    padding-bottom:15px;

  table tbody tr:first-child td
    padding-top:10px;

  table tbody tr td
    padding-bottom:10px;

  .form-control
    width: 80%;
