<app-menu class="app-menu"></app-menu>
<navbar class="app-navbar"></navbar>

<!-- page content -->
<div class="right_col" role="main">
  <div>
    <div class="page-title">
      <div class="title_left">
        <h3>Daftar Koresponden</h3>
      </div>

      <div class="title_right">
        <div class="col-md-6 col-sm-6 col-xs-12 form-group pull-right top_search">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Search for..." ng-model="$ctrl.searchTerm">
            <span class="input-group-btn">
              <button class="btn btn-default" type="button">Search!</button>
            </span>
          </div>
        </div>
      </div>
    </div>

    <div class="clearfix"></div>

    <div class="row" block-ui="correspondentBlockUI">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
          <div class="x_title">
            <button type="button" class="btn btn-primary" ng-if="$ctrl.User.getAuth().includes.profile.type == 'validator'" ng-click="$ctrl.getRespondent()">Get Respondent</button>
            <h2 style="display:inline-block;float:none;" ng-if="$ctrl.User.getAuth().includes.profile.type != 'validator'">Tahun {{$ctrl.tahun}}</h2>
            <ul class="nav navbar-right panel_toolbox">
              <li class="close-link">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-chevron-down"></i></a>
                <ul class="dropdown-menu" role="menu">
                  <li><a href="#">2016</a>
                  </li>
                  <li><a href="#">2017</a>
                  </li>
                </ul>
              </li>
            </ul>
          </div>

          <div class="x_content" >

            <div class="table-responsive">
              <table ng-table="$ctrl.correnspondenceTableParams" class="table table-striped jambo_table bulk_action">
                <tr class="even pointer" ng-repeat="row in $data">
                  <td width="3%" data-title="'No'" sortable="'id'">{{(($ctrl.correnspondenceTableParams.page() -1) * 10) + ($index + 1)}}</td>
                  <td width="20%" data-title="'Lembaga Induk'" sortable="'lembaga'" class="col-md-2">{{ row.respondent.lembaga.induk.name }}</td>
                  <td width="15%" data-title="'Puslit'" sortable="'lembaga'" class="col-md-2">{{ row.respondent.lembaga.unit.name }}</td>
                  <td width="10%" data-title="'Nama Koresponden'" sortable="'name'" class="col-md-2" filter="{ 'respondent-name': 'text' }">{{row.respondent.name}}</td>
                  <td width="10%" data-title="'No HP'" sortable="'hp'" >{{row.respondent.hp}}</td>
                  <td width="10%" data-title="'Nama Menyetujui'" sortable="'approved_by'" filter="{ 'approved-by-name': 'text' }">{{row.respondent.approved_by.name}}</td>
                  <td width="7%" data-title="'Tanggal Pengisian'" sortable="'created'" >{{row.timestamp.created_string}}</td>
                  <td width="10%" data-title="'Status'" class="a-right a-right status" filter="{ 'status': 'select' }" filter-data="$ctrl.statuses" ng-switch on="row.status">
                  	<span class="label" ng-switch-when="terkirim" >Terkirim</span>
                    <span class="label label-aero" ng-switch-when="prosesvalidasi" >Proses Validasi</span>
                    <span class="label label-green" ng-switch-when="diterima">Diterima</span>
                    <span class="label label-red" ng-switch-when="ditolak">Ditolak</span>
                  </td>
                  <td width="15%" class=" last" data-title="'Action'" ng-if="$ctrl.User.getAuth().includes.profile.type == 'validator'">
                    <ng-switch on="row.status">
                    	<a ng-switch-when="prosesvalidasi" href="" ng-click="$ctrl.unlock(row)"><i class="fa fa-unlock-alt"></i>&nbsp;Unlock</a>
                    	<a ng-switch-when="terkirim" href="" ng-click="$ctrl.unlock(row)"><i class="fa fa-unlock-alt"></i>&nbsp;Unlock</a>
                    	<a ng-switch-when="diterima" href="" ng-click="$ctrl.unlock(row)"><i class="fa fa-unlock-alt"></i>&nbsp;Unlock</a>
                    </ng-switch>
                    <a href="" ng-click="$ctrl.detail(row)"><i class="fa fa-edit"></i>&nbsp;View</a>
                  </td>
                </tr>
                <tr ng-if="$data.length == 0">
                  <td colspan="8"><p>
                    Data responden belum ada
                  </p></td>
                </tr>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


</script>

<!-- /page content -->

<app-footer></app-footer>
