<div class="dashboard-graph">
  <div class="col-md-6 col-sm-12 col-xs-12">
    <highchart id="chart-6" config="$ctrl.gambar6"></highchart>
  </div>

  <div class="col-md-6 col-sm-6 col-xs-12">
    <highchart id="chart-3" config="$ctrl.gambar3"></highchart>
  </div>

  <div class="col-md-6 col-sm-6 col-xs-12">
    <highchart id="chart-5" config="$ctrl.gambar5"></highchart>
  </div>

  <div class="col-md-6 col-sm-6 col-xs-12">
    <highchart id="chart-7" config="$ctrl.gambar7"></highchart>
  </div>

  <div class="col-md-6 col-sm-6 col-xs-12">
    <highchart id="chart-9" config="$ctrl.gambar9"></highchart>
  </div>

  <div class="col-md-6 col-sm-6 col-xs-12">
    <highchart id="chart-10" config="$ctrl.gambar10"></highchart>
  </div>

  <div class="col-md-6 col-sm-6 col-xs-12">
    <highchart id="chart-11" config="$ctrl.gambar11"></highchart>
  </div>

  <div class="col-md-6 col-sm-6 col-xs-12">
    <highchart id="chart-12" config="$ctrl.gambar12"></highchart>
  </div>

  <div class="col-md-6 col-sm-6 col-xs-12">
    <highchart id="chart-16" config="$ctrl.gambar16"></highchart>
  </div>

  <div class="col-md-6 col-sm-6 col-xs-12">
    <highchart id="chart-17" config="$ctrl.gambar17"></highchart>
  </div>

  <div class="col-md-6 col-sm-6 col-xs-12">
    <highchart id="chart-42" config="$ctrl.gambar42"></highchart>
  </div>

  <div class="col-md-6 col-sm-6 col-xs-12">
    <highchart id="chart-43" config="$ctrl.gambar43"></highchart>
  </div>
</div>
