<div class="dashboard-graph">
  <div class="col-md-12 col-sm-12 col-xs-12">
    <highchart id="graph4" config="$ctrl.graph4"></highchart>
  </div>

  <div class="col-md-6 col-sm-12 col-xs-12">
    <highchart id="graph5" config="$ctrl.graph5"></highchart>
  </div>

  <div class="col-md-6 col-sm-6 col-xs-12">
    <highchart id="graph6" config="$ctrl.graph6"></highchart>
  </div>

  <div class="col-md-6 col-sm-6 col-xs-12">
    <highchart id="graph7a" config="$ctrl.graph7a"></highchart>
  </div>

  <div class="col-md-6 col-sm-6 col-xs-12">
    <highchart id="graph7b" config="$ctrl.graph7b"></highchart>
  </div>

  <div class="col-md-6 col-sm-6 col-xs-12">
    <highchart id="graph9" config="$ctrl.graph9"></highchart>
  </div>

  <!-- <div class="col-md-6 col-sm-6 col-xs-12">
    <highchart id="chart-7" config="$ctrl.gambar7"></highchart>
  </div>

  <div class="col-md-6 col-sm-6 col-xs-12">
    <highchart id="chart-9" config="$ctrl.gambar9"></highchart>
  </div>

  <div class="col-md-6 col-sm-6 col-xs-12">
    <highchart id="chart-10" config="$ctrl.gambar10"></highchart>
  </div>

  <div class="col-md-6 col-sm-6 col-xs-12">
    <highchart id="chart-11" config="$ctrl.gambar11"></highchart>
  </div>

  <div class="col-md-6 col-sm-6 col-xs-12">
    <highchart id="chart-12" config="$ctrl.gambar12"></highchart>
  </div>

  <div class="col-md-6 col-sm-6 col-xs-12">
    <highchart id="chart-16" config="$ctrl.gambar16"></highchart>
  </div>

  <div class="col-md-6 col-sm-6 col-xs-12">
    <highchart id="chart-17" config="$ctrl.gambar17"></highchart>
  </div>

  <div class="col-md-6 col-sm-6 col-xs-12">
    <highchart id="chart-42" config="$ctrl.gambar42"></highchart>
  </div>

  <div class="col-md-6 col-sm-6 col-xs-12">
    <highchart id="chart-43" config="$ctrl.gambar43"></highchart>
  </div> -->
</div>
