<div class="dashboard-graph">
  <div class="col-md-12 col-sm-12 col-xs-12">
    <highchart id="graph4" config="$ctrl.graph4"></highchart>
  </div>

  <div class="col-md-12 col-sm-6 col-xs-12">
    <highchart id="graph6" config="$ctrl.graph6"></highchart>
  </div>

  <div class="col-md-6 col-sm-12 col-xs-12">
    <highchart id="graph5" config="$ctrl.graph5"></highchart>
  </div>

  <div class="col-md-6 col-sm-6 col-xs-12">
    <highchart id="graph7a" config="$ctrl.graph7a"></highchart>
  </div>

  <div class="col-md-6 col-sm-6 col-xs-12">
    <highchart id="graph7b" config="$ctrl.graph7b"></highchart>
  </div>

  <div class="col-md-12 col-sm-12 col-xs-12">
    <highchart id="compareAnggaranDipa" config="$ctrl.compareAnggaranDipa"></highchart>
  </div>

  <div class="col-md-6 col-sm-6 col-xs-12">
    <highchart id="graph9" config="$ctrl.graph9"></highchart>
  </div>

  <div class="col-md-6 col-sm-6 col-xs-12">
    <highchart id="graph11" config="$ctrl.graph11"></highchart>
  </div>

  <div class="col-md-6 col-sm-6 col-xs-12">
    <highchart id="graph17" config="$ctrl.graph17"></highchart>
  </div>

  <!-- <div class="col-md-6 col-sm-6 col-xs-12">
    <highchart id="graph42" config="$ctrl.graph42"></highchart>
  </div>
 -->
  <div class="col-md-6 col-sm-6 col-xs-12">
    <highchart id="graph43" config="$ctrl.graph43"></highchart>
  </div>
</div>
