<div class="card questions">
  <div class="question-content">
    <div class="question-body form-horizontal">
      <p>
         Pada tahun {{$ctrl.year - 1}}, adakah peneliti di unit kerja Saudara yang menjadi penyaji makalah dalam seminar ilmiah internasional?
      </p>
      <br>
      <div class="form-group">
        <div class="col-md-2 col-sm-2 col-xs-6">
          <div class="checkbox">
            <label>
              <input type="checkbox" ng-checked="!!$ctrl.answer">Ya
            </label>
          </div>
        </div>
        <div class="col-md-2 col-sm-2 col-xs-6">
          <div class="checkbox">
            <label>
              <input type="checkbox" ng-checked="!$ctrl.answer">Tidak
            </label>
          </div>
        </div>
      </div>

      <br>

      <div class="form-group" ng-if="$ctrl.answer.detail.length">
        <div class="col-md-5 col-sm-6 col-xs-12">
          <label for="">Nama Peneliti</label>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12">
          <label for="">Kode Seminar</label>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12">
          <label for="">Negara Penyelenggara Seminar</label>
        </div>
      </div>

      <div class="form-group" ng-repeat="detail in $ctrl.answer.detail" >
        <div class="col-md-5 col-sm-6 col-xs-12">
          <input type="text" class="form-control" value="{{detail.nama_peneliti}}" placeholder="Nama Peneliti">
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12">
          <input type="text" class="form-control" value="{{detail.nama_seminar}}" placeholder="Nama Seminar">
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12">
          <input type="text" class="form-control" value="{{detail.negara_penyelenggara_seminar | country:$ctrl.countries}}" placeholder="Negara Penyelenggara Seminar">
        </div>
      </div>

    </div>
  </div>
</div>

<div class="card questions" ng-if="$ctrl.answer && $ctrl.answer.status=='ditolak'">
  <div class="question-content">
    <div class="question-body comment">
      <h2>Comment</h2>
      <p>{{$ctrl.answer.status_comment}}</p>
    </div>
  </div>
</div>

<div class="question-tool">
    <div class="pull-right text-center mtop20">
      <button class="btn btn-sm btn-success"  ng-disabled="(!$ctrl.answer || $ctrl.answer.status!='terkirim') || $ctrl.statusUpdated" ng-click="$ctrl.approve()"><i class="fa fa-check"></i>Approve</button>
      <button class="btn btn-sm btn-danger"  ng-disabled="(!$ctrl.answer || $ctrl.answer.status!='terkirim') || $ctrl.statusUpdated" ng-click="$ctrl.reject()" ><i class="fa fa-close"></i>Reject</button>
    </div>
</div>
