<div class="clearfix"></div>
<div class="dashboard-graph">
  <div class="col-md-6 col-sm-12 col-xs-12">
    <highchart id="graph46" config="$ctrl.graph46"></highchart>
  </div>

  <div class="col-md-6 col-sm-12 col-xs-12">
    <highchart id="graph48" config="$ctrl.graph48"></highchart>
  </div>

  <div class="col-md-6 col-sm-12 col-xs-12">
    <highchart id="graph47" config="$ctrl.graph47"></highchart>
  </div>

   <div class="col-md-6 col-sm-12 col-xs-12">
    <highchart id="graph50" config="$ctrl.graph50"></highchart>
  </div>

  <div class="col-md-6 col-sm-12 col-xs-12">
    <highchart id="graph51" config="$ctrl.graph51"></highchart>
  </div>

  <div class="col-md-6 col-sm-12 col-xs-12">
    <highchart id="graph52" config="$ctrl.graph52"></highchart>
  </div>

  <div class="col-md-12 col-sm-12 col-xs-12">
    <highchart id="graph53" config="$ctrl.graph53"></highchart>
  </div>

  <div class="col-md-6 col-sm-12 col-xs-12">
    <highchart id="graph63" config="$ctrl.graph63"></highchart>
  </div>

  <div class="col-md-6 col-sm-12 col-xs-12">
    <highchart id="graph65" config="$ctrl.graph65"></highchart>
  </div>

</div>
