<div class="card questions">
  <div class="question-content">
    <div class="question-body form-horizontal">
      <p>
        Sebutkan total realisasi anggaran DIPA unit kerja Saudara dalam tahun 2015, termasuk Penerimaaan Negara Bukan Pajak (PNBP) dan Pinjaman Hibah Luar Negeri (PHLN)
      </p>
      <br>
      <div class="form-group">
        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">Total Realisasi Anggaran<!-- <span class="required">*</span> -->
        </label>
        <div class="input-group col-md-4 col-sm-4 col-xs-6">
          <div class="input-group-addon">Rp</div>
          <input type="text" id="first-name" required="required" ng-model="$ctrl.answer.answer1_total" class="form-control col-md-7 col-xs-12">
        </div>
      </div>

      <div class="form-group">
        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">Persentase Realisasi terhadap rencana anggaran<!-- <span class="required">*</span> -->
        </label>
        <div class="input-group col-md-4 col-sm-4 col-xs-6">
          <input type="text" id="first-name" ng-model="$ctrl.answer.answer1_percentage" required="required" class="form-control col-md-7 col-xs-12">
          <div class="input-group-addon">%</div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="question-tool">
    <div class="pull-right text-center mtop20">
      <a href="#" class="btn btn-sm btn-success" ng-click="$ctrl.approve()"><i class="fa fa-check"></i>Approve</a>
      <a href="#" class="btn btn-sm btn-danger" ng-click="$ctrl.reject()" ><i class="fa fa-close"></i>Reject</a>
    </div>
</div>
