<div class="card questions">
  <div class="question-content">
    <div class="question-body form-horizontal">
      <p>
        Sebutkan total realisasi anggaran DIPA unit kerja Saudara dalam tahun 2015, termasuk Penerimaaan Negara Bukan Pajak (PNBP) dan Pinjaman Hibah Luar Negeri (PHLN)
      </p>
      <br>
      <div class="form-group">
        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">Total Realisasi Anggaran<!-- <span class="required">*</span> -->
        </label>
        <div class="input-group col-md-4 col-sm-4 col-xs-6">
          <div class="input-group-addon">Rp</div>
          <input type="text" id="first-name" required="required" value="{{$ctrl.answer.data.total | formatMoney}}" class="form-control col-md-7 col-xs-12">
        </div>
      </div>

      <div class="form-group">
        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">Persentase Realisasi terhadap rencana anggaran<!-- <span class="required">*</span> -->
        </label>
        <div class="input-group col-md-2 col-sm-4 col-xs-6">
          <input type="text" id="first-name" ng-model="$ctrl.answer.data.percentage" required="required" class="form-control col-md-7 col-xs-12">
          <div class="input-group-addon">%</div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="card questions" ng-if="$ctrl.answer && $ctrl.answer.comment && $ctrl.answer.status=='ditolak'">
  <div class="question-content">
    <div class="question-body comment">
      <h2>Comment</h2>
      <p>{{$ctrl.answer.comment}}</p>
    </div>
  </div>
</div>

<div class="question-tool" ng-if="$ctrl.answer">
    <div class="pull-right text-center mtop20">
      <button class="btn btn-sm btn-success" ng-disabled="$ctrl.answer.status!='terkirim' || $ctrl.statusUpdated" ng-click="$ctrl.approve()"><i class="fa fa-check"></i>Approve</button>
      <button class="btn btn-sm btn-danger" ng-disabled="$ctrl.answer.status!='terkirim' || $ctrl.statusUpdated" ng-click="$ctrl.reject()" ><i class="fa fa-close"></i>Reject</button>
    </div>
</div>
