<div class="cls-content">
  <div class="cls-content-sm panel">
    <div class="panel-head">
      <div class="app-logo pull-left">
        <img class="logo" src="images/logo-ristekdikti.png" alt="">
      </div>
      <h1>Survey Online</h1>
    </div>
    <div class="panel-body">
      <form name="loginForm" ng-submit="$ctrl.login(loginForm, $event)" novalidate>
          <div class="form-group" ng-class="{'bad': loginForm.email.$invalid && (loginForm.password.$dirty || $ctrl.formSubmitted)}">
              <div class="input-group">
                  <div class="input-group-addon"><i class="fa fa-user"></i></div>
                  <input type="email" class="form-control" ng-model="$ctrl.auth.email" name="email" placeholder="Username" ng-required="true">
              </div>
          </div>
          <div class="form-group" ng-class="{'bad': loginForm.password.$invalid && (loginForm.password.$dirty || $ctrl.formSubmitted)}">
              <div class="input-group">
                  <div class="input-group-addon"><i class="fa fa-asterisk"></i></div>
                  <input type="password" class="form-control" ng-model="$ctrl.auth.password" name="password" placeholder="Password" ng-required="true">
              </div>
          </div>
          <div class="row">
              <div class="col-xs-4 col-xs-offset-8">
                  <div class="form-group text-right">
                  <button class="btn btn-primary" type="submit">Masuk</button>
                  </div>
              </div>
          </div>
      </form>
    </div>
  </div>
</div>
