<div class="card questions">
  <div class="question-content">
    <div class="question-body form-horizontal">
      <p>
       Kelompokkan seluruh kegiatan litbang tahun 2015 menurut bidang penelitian. Mohon disebutkan persentase dana untuk setiap bidang, terhitung dari total dana penelitian (untuk penelitian lintas bidang, mengacu kepada bidang penelitian yang dominan).
      </p>
      <br>
      <div class="form-group" ng-repeat="code in $ctrl.answer.answer5_code">
        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">{{$ctrl.getSubjectFromResearchFieldCode(code)}}
        </label>
        <div class="col-md-4 col-sm-4 col-xs-6">
          <input type="text" id="first-name" ng-model="$ctrl.answer.answer5_percentage[$index + 1]" required="required" class="form-control col-md-7 col-xs-12">
        </div>
      </div>
    </div>
  </div>
</div>
<div class="question-tool">
    <div class="pull-right text-center mtop20">
      <a href="#" class="btn btn-sm btn-success"><i class="fa fa-check"></i>Approve</a>
      <a href="#" class="btn btn-sm btn-danger"><i class="fa fa-close"></i>Reject</a>
    </div>
</div>
